.child-list-item {
    margin-bottom: 1em;
    padding: 1em;
    padding-left: 2em;
    border: solid 1px var(--color-info);
    height: fit-content;

    &.active {
        background: var(--color-lighter);
    }
}