.navbar {
  background-color: var(--color-primary);
  .container {
    justify-content: space-between;
    .navbar-brand {
      img {
        width: 1.6em;
        height: 1.6em;
        margin-right: 1em;
      }
    }
    .navbar-collapse {
      justify-content: flex-end;
      flex-grow: 0;
    }
  }
}
