body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  --color-primary: #756ab6;
  --color-secondary: #ac87c5;
  --color-light: #e0aed0;
  --color-lighter: #ffe5e5;

  --color-info: #818181;

  --border-radius: 8px;
}
html,
body,
#root,
.App {
  height: 100%;
}
.App {
  background-color: var(--color-lighter);
}
.form-control {
  border-radius: 0;
  border: none;
  border-bottom: solid 1px var(--color-primary);
}
.form-control:active,
.form-control:focus,
.form-control:focus-visible {
  box-shadow: none;
  border-width: 2px;
  border-color: var(--color-primary);
}
.btn {
  background-color: var(--color-primary);
  border-radius: 24px;
  border: none;
}

.btn:hover,
.btn:focus {
  background-color: var(--color-secondary);
}
