body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root,
#app-modal,
.modal-dialog {
  --color-primary: #756ab6;
  --color-secondary: #ac87c5;
  --color-light: #e0aed0;
  --color-lighter: #ffe5e5;

  --color-info: #818181;
  --color-error: rgb(168, 73, 73);

  --border-radius: 8px;
}
html,
body,
#root,
.App {
  height: 100%;
  scrollbar-gutter: stable;
}

.form-control {
  border-radius: 0;
  border: none;
  border-bottom: solid 1px var(--color-primary);
}
.form-control:active,
.form-control:focus,
.form-control:focus-visible {
  box-shadow: none;
  border-width: 2px;
  border-color: var(--color-primary);
}
.btn {
  background-color: var(--color-primary);
  border-radius: 24px;
  border: none;
}

.btn:hover,
.btn:focus {
  background-color: var(--color-secondary);
}

.info {
  color: var(--color-info);
}
.hr {
  flex: 1;
  border: solid 1px black;
  height: 0;
}
/* width */
::-webkit-scrollbar {
  margin: 1em;
  width: 2px;
  height: 4px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8a5f5f;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #951111;
}
